.container {
    display: flex;
}

.submenu {
    background-color: var(--color-bg-sidebar);
    padding: 2rem;
    padding-right: 10rem;
    min-width: 40ch;
}

.aside {
    padding: 1rem 6rem 0 1.5rem;
    height: 100vh;
    box-shadow: lightgray 1px 1px 1px;
    width: fit-content;
    position: relative;
    transition: padding 0.8s ease;
}

.retractButton {
    font-size: 1rem;
    aspect-ratio: 1;
    height: 1.5rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: lightgray 1px 1px 1px;
    position: absolute;
    background-color: white;
    right: -10px;
    top: 10%;
}

.logo {
    padding: 2rem 0;
    display: flex;
    gap: 15px;
}

.logo h1 {
    color: #B22222;
}

.logo img {
    height: 3rem;
}

.h4 {
    font-size: 1.1em;
    color: var(--color-text-title);
    letter-spacing: .2rem;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 83%;
    color: var(--color-text-item);
}

.ul li {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: .5rem 0;
}

.ul li:last-of-type {
    margin-top: auto;
}

.h4,
.ul {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.ul li {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    margin: .5rem 0
}

.ul li img {
    height: 25px;
}

.retracted {
    padding: 0;
    padding-left: 1rem;
    width: 5rem;
}

.retracted .logo{
    margin-top: 0;
}

.retracted .h4,
.retracted .ul span,
.retracted .logo h1{
  opacity: 0;
  pointer-events: none;
}

.retracted .ul li {
    width: fit-content;
}

.main {
    width: 100%;
    background-color: #f2f2f2;
}
