.container {
    display: flex;
    position: relative;
}

.submenu {
    background-color: var(--color-bg-sidebar);
    padding: 2rem;
    padding-right: 10rem;
    min-width: 40ch;
}

.aside {
    padding: 1rem 6rem 0 1.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: lightgray 1px 1px 1px;
    width: fit-content;
    position: relative;
    transition: padding 0.8s ease;
}

.retractButton {
    font-size: 1rem;
    aspect-ratio: 1;
    height: 1.5rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: lightgray 1px 1px 1px;
    position: absolute;
    background-color: white;
    right: -10px;
    top: 10%;
}

.logo {
    padding: 2rem 0;
    display: flex;
    gap: 15px;
}

.logo h1 {
    color: #B22222;
}

.logo img {
    height: 3rem;
}

.h4 {
    font-size: 1.1em;
    color: var(--color-text-title);
    letter-spacing: .2rem;
}

.aside .ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 80%;
    color: var(--color-text-item);
}

.aside .ul li {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: .5rem 0;
}

.aside .ul li:last-of-type {
    margin-top: auto;
}

.h4,
.ul {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.ul li {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    margin: .5rem 0;
    cursor: pointer;
}

.submenu .ul li {
    padding: 5px;
    border-radius: .5rem;
}

.submenu .ul li:hover {
    background-color: #db7676;
    opacity: .8;
    color: white;
}

.submenu .ul li:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(272deg) brightness(106%) contrast(103%);
}

.ul li img {
    height: 25px;
}

.retracted {
    padding: 0;
    padding-left: 1rem;
    width: 5rem;
}

.retracted .logo{
    margin-top: 0;
}

.retracted .h4,
.retracted .ul span,
.retracted .logo h1{
  opacity: 0;
  pointer-events: none;
}

.retracted .ul li {
    width: fit-content;
}

.main {
    width: 100%;
    background-color: #f2f2f2;
    overflow-y: auto;
    max-height: 100svh;
    overflow-x: hidden;
}

.closeMobile {
    display: none;
}

@media screen and (max-width: 1025px) {
    .aside .ul {
        height: 75%;
    }

    .aside {
        background-color: var(--color-bg-sidebar);
        position: fixed;
        z-index: 2;
    }

    .submenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 3rem;
        z-index: 3;
        box-shadow: lightgray 1px 1px 1px;
        padding: 1rem;
        padding-right: 0rem;
        min-width: 0ch;
    }

    .closeMobile {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 8;
    }

    .retractButton {
        height: 2rem;
        font-size: 1.5em;
    }
}
